<button class="@VisibilityClass @ColorClass" @onclick="OnClick">
	<div class="button-content">
		<p>@Number @Icon</p>
	</div>
</button>


@code {
	[Parameter] 
	public EventCallback OnClick { get; set; }

	[Parameter]
	public int Number { get; set; }

	[Parameter]
	public string Icon { get; set; } = string.Empty;

	[Parameter]
	public string VisibilityClass { get; set; } = "";

	[Parameter]
	public string ColorClass { get; set; } = "";
}