.button-content {
    display: flex;
}

.hidden {
    visibility: hidden;
}

button {
    text-align: center;
    vertical-align: middle;
    border: none;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 5px 10px;
}

.club {
    background-color: darkgreen;
}

.diamond {
    background-color: darkorange;
}

.heart {
    background-color: indianred;
}

.spade {
    background-color: black;
}

.no-trump {
    background-color: lightslategrey;
}