@using Shared
@using Shared.Enums.Extensions
@using Shared.DTOs

<p>
    @DisplayContractResult()
</p>

@code {
    [Parameter]
    public PlayerGameShortInfoDTO shortInfoDTO { get; set; } = new();

    private string DisplayContractResult()
    {
        var info = shortInfoDTO.GameShortInfo;

        if (info.FinalContract is null)
            return "PASS";

        var level = info.FinalContract.Value.ToSymbol();
        var suit = info.FinalContract.Suit.ToSymbol();

        var doubleSymbol = info.IsRedoubled ? "XX" :
                           info.IsDoubled ? "X" : "";

        var declarer = info.DeclarerPosition.ToString();

        var trickSymbol = info.TrickBalance switch
        {
            > 0 => "+" + info.TrickBalance,
            < 0 => info.TrickBalance.ToString(),
            0 => "=",
        };

        var yourPosition = shortInfoDTO.UserPosition;

        return $"{level}{suit}{doubleSymbol}{declarer}{trickSymbol} | Your Position: {yourPosition}";
    }
}
