p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-size: 3vh;
    color: white;
    background-color: darkkhaki;
    border-radius: 15px;
    padding: 10px;
}
