@using Shared;
@using Shared.Enums;
@using Shared.Enums.Extensions;
@using Frontend.Services.Interfaces

@inject IApiService ApiService

<div class="game-history">
	<h1>Your game history</h1>

	<div class="results">
		@foreach(var game in @games)
		{
			<GameResultComponent shortInfoDTO="game"></GameResultComponent>
		}
	</div>
</div>

@code {
	List<PlayerGameShortInfoDTO> games = [];

	protected override async Task OnInitializedAsync()
	{
		this.games = await ApiService.GetSignedInUserGameHistoryAsync();
	}
}
