@using Shared

<div class="card-hand">
    @foreach (var card in Cards)
    {
        <CardComponent Card="card" OnClickCallback="@OnCardClicked"/>
    }
</div>

@code {
    [Parameter]
    public List<Card> Cards { get; set; } = new();

    [Parameter]
    public EventCallback<Card> OnCardClicked { get; set; }
}
