.bidding {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
}

.bidding-container {
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bidding-screen {
    border: 2px solid black;
    border-radius: 15px;
    height: 350px;
    width: 600px;
    background-color: lightyellow;
    overflow: auto;
}

.players {
    border-bottom: 2px solid black;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.player {
    border-right: 2px solid black;
    flex: 1;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player4 {
    border-right: 0px;
}

.bidding-panel {
    border: 2px solid black;
    border-radius: 15px;
    height: 175px;
    width: 600px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: lightyellow;
}

.panel-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clubs {
    display: flex;
    justify-content: space-evenly;
}

.diamonds {
    display: flex;
    justify-content: space-evenly;
}

.hearts {
    display: flex;
    justify-content: space-evenly;
}

.spades {
    display: flex;
    justify-content: space-evenly;
}

.no-trumps {
    display: flex;
    justify-content: space-evenly;
}

.panel-box-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pass {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.x-and-xx {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bidded {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.hidden {
    visibility: hidden;
}
