@using Frontend.Components;
@using Frontend.Services.Interfaces;
@using Microsoft.AspNetCore.SignalR.Client;

@inject IApiService ApiService;

<div class="invite-page">
	<div class="invite">
		<p class="message">You've got invited to the table</p>
		<div class="buttons">
			<button class="accept-invite-button" @onclick="AcceptInvite">Accept</button>
			<button class="decline-invite-button" @onclick="DeclineInvite">Decline</button>
		</div>
	</div>
	<div class="game-history">
		<GameHistoryComponent />
	</div>
</div>

@code {
	private Task AcceptInvite() =>
		ApiService.AcceptInviteAsync();

	private Task DeclineInvite() =>
		ApiService.DeclineInviteAsync();
}
