@page "/"

<PageTitle>Bridge House</PageTitle>

<AuthorizeView>
	<Authorized>
		<div class="home-page">
			<div class="home-page-container">
				<img src="Aceofspades.svg" class="logo">
				<h1>Bridge House</h1>
				<div class="login-register-box">
					<a href="/login">Login</a>
					<a href="/register">Register</a>
				</div>
				<p class="continue-as-guest">Continue as guest</p>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<h1>NIE AUTORYZOWANY</h1>
	</NotAuthorized>
</AuthorizeView>


