@page "/licitation-screen"

<div class="licitation">
	<div class="licitation-container">
		<div class="licitation-screen">
			<div class="players">
				<div class="player">
					<p>Player 1</p>
				</div>
				<div class="player">
					<p>Player 2</p>
				</div>
				<div class="player">
					<p>Player 3</p>
				</div>
				<div class="player player4">
					<p>Player 4</p>
				</div>
			</div>
		</div>
		<div class="bidding-panel">
		</div>
	</div>
</div>


@code {

}
